<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual Salary</th>
            <th>Date of Birth</th>
            <th>Index</th>
            <th>is First</th>
            <th>is Last</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let employee of employees; trackBy:trackByCode; let i=index; let isFirst=first; let isLast=last;'>
            <td>{{employee.code}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.annualSalary}}</td>
            <td>{{employee.dateOfBirth}}</td>
            <td>{{i}}</td>
            <td>{{isFirst}}</td>
            <td>{{isLast}}</td>
        </tr>
        <tr *ngIf="!employees || employees.length==0">
            <td [colSpan]="colSpan">No Employees to display</td>
        </tr>
    </tbody>
</table>
<br/><br/>
<button type="button" (click)= "getEmployees()">Refresh List</button>